<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<form th:action="@{/form}" th:object="${usuario}" method="post">

<div>
			<label for="identificador">Identificador</label>
			<div>
				<input id="identificador" type="text" th:field="*{identificador}">
			</div>
			<div th:if="${#fields.hasErrors('identificador')}" th:errors="*{identificador}"></div>
		</div>
		<div>
			<label for="nombre">Nombre</label>
			<div>
				<input id="nombre" type="text" th:field="*{nombre}">
			</div>
			<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
		</div>

		<div>
			<label for="apellido">Apellido</label>
			<div>
				<input id="apellido" type="text" th:field="*{apellido}">
			</div>
			<div th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
		</div>
		<div>
			<label for="username">Username</label>
			<div>
				<input id="username" type="text" th:field="*{username}">
			</div>
			<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
		</div>
		<div>
			<label for="password">Password</label>
			<div>
				<input id="password" type="password" th:field="*{password}">
			</div>
			<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
		</div>
		<div>
			<label for="email">Email</label>
			<div>
				<input id="email" type="text" th:field="*{email}">
			</div>
			<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
		</div>
		
		<div>
			<label for="cuenta">Cuenta</label>
			<div>
				<input id="cuenta" type="number" th:field="*{cuenta}">
			</div>
			<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
		</div>
		
		<div>
			<label for="fechaNacimiento">Fecha Nacimiento</label>
			<div>
				<input id="fechaNacimiento" type="date" th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd">
			</div>
			<div th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}"></div>
		</div>
		<div>
			<button></button>
			<div>
				<input value="Enviar" type="submit">
			</div>
		</div>

	</form>
</body>
</html>