<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	<ul th:object="${usuario}">
		<li th:text="*{nombre}"></li>
		<li th:text="*{apellido}"></li>
		<li th:text="*{username}"></li>
		<li th:text="*{password}"></li>
		<li th:text="*{email}"></li>
		<li th:text="*{identificador}"></li>
		<li th:text="*{cuenta}"></li>
		<li th:text="*{fechaNacimiento}"></li>
		
	</ul>
</body>
</html>